<html xmlns="http://www.w3.org/1999/xhtml" content="text/html;">
<head>
    <title>Admin</title>
</head>
<body>
<h2>Админская страничка</h2>
<a href="users">Вернуться назад</a>
<form action="exit" method="get">
    <br/><br/>
    <input type="submit" value="Выйти">
</form>
<form action="admin" method="post">
    <label>
        name <br/>
        <input type="text" name="name">
    </label>
    <br/>
    <label>
        login <br/>
        <input type="text" name="login">
    </label>
    <br/>
    <label>
        password<br/>
        <input type="password" name="password">
    </label>
    <br/>
    <label>
        admin(true или false)<br/>
        <input type="text" name="adminFlag">
    </label>
    <br/><br/>
    <input type="submit" value="Добавить пользователя">
</form>
<br/>
<table style="width: 400px">
    <thead>
    <tr>
        <td style="width: 50px">Id</td>
        <td style="width: 150px">Имя</td>
        <td style="width: 100px">Логин</td>
        <td style="width: 100px">Пароль</td>
    </tr>
    </thead>
    <tbody>
    <#list Users as User>
    <tr>
        <td>${User.id}</td>
        <td>${User.name}</td>
        <td>${User.login}</td>
        <td>${User.password}</td>
    </tr>
    </#list>
    </tbody>
</table>
</body>
</html>